<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIFI.Sisharp.Training.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WIFI.Sisharp.Training.WPF.Properties.Settings>
            <setting name="SqlServer" serializeAs="String">
                <value>(LocalDB)\MSSQLLocalDB</value>
            </setting>
            <setting name="Datenbank" serializeAs="String">
                <value>AndritzHydro2019</value>
            </setting>
            <setting name="DatenbankPfad" serializeAs="String">
                <value>..\..\..\wifi.sisharp.training.web\app_data</value>
            </setting>
        </WIFI.Sisharp.Training.WPF.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50603/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>